.feed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
}

.info {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.stats {
  display: flex;
  gap: 36px;
}

.stats__card {
  width: 272px;
}

.stats__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: calc(206px - 54px);
  min-height: calc(206px - 54px);
  overflow: auto;
}

.stats__list__ready {
  color: #00CCCC;
}

.stats__count {
  text-shadow: 0 0 16px rgba(51, 51, 255, 0.25), 0 0 8px rgba(51, 51, 255, 0.25), 0 4px 32px rgba(51, 51, 255, 0.5);
}

.orders {
  width: 600px;
}

.orders__container {
  max-height: 75vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-right: 12px;
}

.orders__card__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-right: 12px;
}

.order {
  width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 122px;
}

.order__details {
  width: 640px;
  text-align: start;
}

.order__status {
  color: #00CCCC;
}

.order__container {
  width: calc(640px);
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 32vh;
  overflow: auto;
  padding-top: 3px;
}

.order__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  margin-right: 24px;
}

.order__card__title {
  display: flex;
  align-items: center;
}

.order__img__container {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 100%;
  width: 64px;
  height: 64px;
  background: #131316;
}

.order__img__container::after {
  position: absolute;
  top: -3px; bottom: -3px;
  left: -3px; right: -3px;
  background: linear-gradient(#801AB2, #4C4CFF);
  content: '';
  z-index: -1;
  border-radius: 100%;
}

.order__card__img {
  position: absolute;
  width: 112px;
  transform: translate(-23px, 0);
}

.order__price {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 9px;
}

.order__info {
  width: 640px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order__time {
  color: #00CCCC;
}